<footer class="footer">
  <div class="container">
    <div class="footer_bar d-flex">
      <ul class="footer_list d-flex">
        <li><a class="fs-4" href="/pages/glass.html">系列鏡框</a></li>
        <li><a class="fs-4" href="#">門市據點</a></li>
        <li><a class="fs-4" href="#">部落格</a></li>
        <li><a class="fs-4" href="#">常見問題</a></li>
      </ul>
      <div class="footer_contact">
        <a href="#"><img src="/assets/images/ic-social-fb.png" alt="" /></a>
        <a href="#"><img src="/assets/images/ic_social_ig.png" alt="" /></a>
        <a href="#"><img src="/assets/images/ic_social_line.png" alt="" /></a>
      </div>
    </div>
    <div class="footer_Tele d-flex">
      <img src="/assets/images/call.png" alt="電話" />
      <h3>0800-000-00</h3>
    </div>
    <div class="footer_mail d-flex">
      <img src="/assets/images/mail.png" alt="信箱" />
      <h3>glasses@business.com</h3>
    </div>
    <div class="footer_subtilte d-flex fs-4">
      <span>Copyright © 2020 Glasses.All rights reserved.</span>
      <span>隱私權政策</span>
    </div>
  </div>
</footer>
