<nav class="navbar">
  <div class="container d-flex">
    <img src="/assets/images/logo-white.png" alt="眼鏡圖片" />
    <ul class="nav_list d-flex">
      <li><a class="fs-3" href="./glass.html">系列鏡框</a></li>
      <li><a class="fs-3" href="#">門市據點</a></li>
      <li><a class="fs-3" href="#">部落格</a></li>
      <li><a class="fs-3" href="#">常見問題</a></li>
    </ul>
  </div>
</nav>
