<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <div class="option">
      <div class="container d-flex">
        <a class="option_item fs-32" href="#">OPTICAL</a>
        <a class="option_item fs-32" href="#">SUNGLASSES</a>
        <a class="option_item fs-32" href="#">FUNCTIONAL</a>
      </div>
    </div>
    <div class="product_header">
      <ul class="d-flex">
        <li class="header_pic">
          <!-- <img src="/assets/images/product-header-1.png" alt="眼鏡照片" /> -->
        </li>
        <li class="header_pic_2">
          <!-- <img src="/assets/images/product-header-2.png" alt="女生戴眼鏡" /> -->
        </li>
      </ul>
    </div>
    <div class="product_main">
      <p class="product_main_title fs-42">Celluloid Combi</p>
      <p class="product_main_subtitle fs-32">賽璐珞鈦金屬混合鏡框</p>
      <div class="container">
        <div class="product_list d-flex">
          <div class="product_item">
            <img src="/assets/images/product-1.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-2.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-3.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-4.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-5.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-6.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-7.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-8.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-9.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-10.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-11.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
          <div class="product_item">
            <img src="/assets/images/product-12.png" alt="" />
            <div class="product_content d-flex">
              <div class="product_name fs-1">BJ41600S</div>
              <div class="product_price fs-1">NTD3,490</div>
            </div>
            <div class="product_color d-flex">
              <span class="product_brown"></span>
              <span class="product_red"></span>
            </div>
          </div>
        </div>
        <div class="page">
          <ul class="d-flex page_list">
            <li><a class="up_down_page fs-3" href="">上一頁</a></li>
            <li><a class="page_num fs-3" href="#">1</a></li>
            <li><a class="page_num fs-3" href="#">2</a></li>
            <li><a class="page_num fs-3" href="#">3</a></li>
            <li><a class="page_num fs-3" href="#">4</a></li>
            <li><a class="page_num fs-3" href="#">5</a></li>
            <li><a class="up_down_page fs-3" href="">下一頁</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
